<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Input a message" />
            <input type="text" name="tag" placeholder="Tag" />
            <button type="submit">Enter</button>
        </form>
    </div>
    <div>Messages list</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>

</html>