<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The messages list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/main}" method="post">
        <input type="text" id="message" name="text" placeholder="Enter message">
        <input type="text" id="tag" name="tag" placeholder="Enter tag">
        <input type="submit" value="Add">

        <div th:if="${error}" th:text="${error}" style="color:red;"></div>
    </form>
    <ul>
        <li th:each="message : ${messages}">
            <span th:text="${message.getId()}"></span>
            <span th:text="${message.getText()}"></span>
            <span th:text="${message.getTag()}"></span>
        </li>
    </ul>
</body>
</html>